.page {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 100px 10% 0;

  @media (max-width: 768px) {
    margin: 10% 0;
    align-items: center;
    justify-content: center;
  }
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    align-items: center;
    justify-content: center;
  }
}

.select {
  max-width: 30vw;
  margin-bottom: 400px;

  @media (max-width: 768px) {
    max-width: none;
    width: 300px;
    margin-bottom: 100px;
  }
}

.title {
  font-size: 36px;
  text-align: start;
}

.subtitle {
  text-align: start;
  font-size: 22px;
  max-width: 50%;

  @media (max-width: 768px) {
    max-width: 70%;
  }
}

.specialPrice {
  font-size: 32px;
  font-weight: bold;
  background: linear-gradient(90deg, #b23a48, #ff7e39);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.textSumma {
  margin-bottom: 20px;
  font-size: 22px;

  @media (max-width: 768px) {
    margin-left: 5%;
  }
}
